.carousel-container {
    overflow: hidden;
    position: relative;
    height: 130px;
    border-color: #4b5563;
    width: 100%;
  }
  
  .carousel-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &:hover {
      transform: scale(0.95);
      box-shadow: 2px 2px 2px rgba(193, 167, 167, 0.362),
        5px 5px 5px rgba(142, 131, 131, 0.392),
      
    }
    border-radius: 10%;
    background: rgb(59, 60, 52);
  }
  
  .carousel-card > img {
    height: 90%;
    width: 100%;
    border-radius: 2%;
  }
  
  .carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 16px;
    width: 200%;
    height: 100%;
  }

  .carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 16px;
    width: 200%;
    height: 100%;
    animation: slide 20s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
  }

  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }